configuration {
  modes: "drun,run,filebrowser";
  case-sensitive: false;
  cycle: true;
  filter: "";
  scroll-method: 0;
  normalize-match: true;
  icon-theme: "papirus";
  drun-display-format: "{name} [<span weight='light' size='small'><I>({generic})</i></span>]";
  show-icons: true;
  steal-focus: false;
}


@theme "~/.config/rofi/synthetic-peace.rasi"
